<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title>Cart</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<h1>Cart</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Book</th>
				<th>Quantity</th>
				<th>Price</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="cartItem : ${cart.cartItems}">
				<td th:text="${cartItem.book.title}"></td>
				<td th:text="${cartItem.quantity}"></td>
				<td th:text="${cartItem.book.price}"></td>
				<td>
					<a th:href="@{/cart/{cartId}/removeItem/{cartItemId}(cartId=${cart.id},cartItemId=${cartItem.id})}">Remove</a>
					<a th:href="@{/cart/{cartId}/updateItem/{cartItemId}(cartId=${cart.id},cartItemId=${cartItem.id})}">Update Quantity</a>
					<!-- Nếu sử dụng phương thức PUT, có thể sử dụng th:method="put" -->
				</td>
			</tr>
		</tbody>
	</table>
	<p>Total Quantity: <span th:text="${cart.totalQuantity}"></span></p>
	<p>Total Price: $<span th:text="${cart.totalPrice}"></span></p>
	<a th:href="@{/cart/{cartId}/clear(cartId=${cart.id})}">Clear Cart</a>
</body>
</html>
