<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Clear Cart</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>

</head>
<body>
    <h1>Clear Cart</h1>
    <p>Are you sure you want to clear the cart?</p>
    <form action="/api/cart/{cartId}/clear" method="delete">
        <button type="submit">Clear Cart</button>
    </form>
</body>
</html>
